
.outer-box{
    padding:50px;
}
.input-content{
    width: 320px;
    padding-left: 26px;
}
.add-btn{
    margin-left: 5px;
}
.list-box{
    width:320px;
    margin-top:10px;
}
.item-li{
    position:relative;
}
.item-li:hover .closeBtn{
    opacity: 1;
}
.closeBtn{
    font-size: 12px;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    margin-left: 8px;
    vertical-align: -1px;
    position: absolute;
    right: 10px;
    opacity: 0;
    transition: all 1s ease;
}